<%- include("partials/header") -%>
<div
  style="
    background-image: url(https://source.unsplash.com/1600x900/?blog);
    height: 50vh;
  "
></div>
<div class="container">
  <h2 
  style="
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
  background: -webkit-linear-gradient(#81f6b9, #058141);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  "
  >
  Welcome to BLOGSOME. We're glad you're here.
  </h2>

  <h3 style="
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(71, 78, 78);
  "
  >
    <%= aboutText %>
  </h3>

<%- include("partials/footer") -%>
