<%- include("partials/header") -%>
<div
  style="
    background-image: url(https://source.unsplash.com/1600x900/?blog);
    background-size: contain;
    height: 95vh;
    position: relative;
  "
>
  <div
    style="
      background-image: url('css/grnbg.jpg');
      background-size: cover;
      width: 500px;
      height: 550px;
      border-radius: 10px;
      margin: auto;
      position: absolute;
      top: 20%;
      left: 40%; 
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgba(59, 56, 56, 0.96);
      padding: 70px 0;
    "
  >
    <h1><b>We're Here. Let's Talk.</b></h1>
    <h3>Share your ideas with us here.</h3>
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="0"
      viewBox="0 0 24 24"
      height="2em"
      width="2em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
      ></path>
    </svg>
    <h4 style="text-decoration: underline; cursor: pointer">
      blogsome@xyz.com
    </h4>
    <h1 style="font-family: 'Sacramento', cursive; margin-top: 0; width: 500px; height: 100px;">
      <br/>Happy Blogging!
    </h1>
  </div>
</div>

<div class="container">
  <!-- <h1>Contact</h1>
    <p><%=  contactText %></p> -->

  <%- include("partials/footer") -%>

