<%- include("partials/header") -%>

<div class="container">

    <h1 
    style="
    font-size: 50px;
    line-height: 1.23;
    font-weight: 800;
    letter-spacing: 0;
    color: #242424;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    "
    >
      <%= title %>
    </h1> 

    <p style="
    font-family: source-serif-pro, Georgia, Cambria, Times New Roman, Times, serif;
    word-break: break-word;
    color: #242424;
    font-size: 25px;
    "
    >
      <%= body %>
    </p>


<%- include("partials/footer") -%>